@using Weredev.UI.Controllers
@{
    Layout = "_WorldTravelerLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListCountriesResponse

<h2>world traveler</h2>
<p>
    I love to travel and along the way I've become a bit of a photographer.  I'm not particularly good though
    there are some pictures I'm proud of.  They're hosted at Flickr, but I'm making them available here too.  Enjoy!
</p>
<div class="row">
    @foreach(var country in @Model.Countries.OrderBy(x => x.CountryName)) {
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
            @{
                var imageUrl = "/images/countries/" + country.CountryKey.ToLower() + ".png";
            }
            <a asp-action="@nameof(WorldTravelerController.ListCities)" asp-route-countrykey="@country.CountryKey"><img src='@imageUrl' class='border border-dark' /></a>
            <h3 class='mt-1'>
                <a asp-action="@nameof(WorldTravelerController.ListCities)" asp-route-countrykey="@country.CountryKey">@(country.CountryName)</a>
            </h3>
        </div>
    }
</div>
<p class="mt-4">
    Country maps courtesy of <a href='https://freevectormaps.com/' target='_blank'>Free Vector Maps</a>.
</p>

