@{
    Layout = "_WorldTravelerLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListAlbumsResponse

@{
    var currentPath = Context.Request.Path.Value.TrimEnd('/');
}

<a href="@(currentPath)/../..">
    <h2>world traveler</h2>
</a>
<h3>
    <a href="@(currentPath)/..">@(Model.CountryName)</a>
     | @(Model.CityName)
</h3>
<div class="row list-table">
    @foreach (var album in Model.Albums.OrderBy(x => x.Name)) {
        <div class="col-lg-6 col-md-12 mt-3 list-row">
            <div class="col-lg-4 col-sm-12 list-cell-image">
                <a href="@(currentPath)/@(album.Key)"><img src="@(album.IconUrl)" class="border border-dark" /></a>
            </div>
            <div class="col-lg-8 col-md-12 list-cell-name">
                <h4 class='mt-1'><a href="@(currentPath)/@(album.Key)">@(album.Name)</a></h4>
                <div class="list-cell-name-description">@(album.Description)</div>
            </div>
        </div>
    }
</div>