@{
    Layout = "_WorldTravelerLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListCitiesResponse

@{
    var currentPath = Context.Request.Path.Value.TrimEnd('/');
}

<a href="@(currentPath)/..">
    <h2>world traveler</h2>
</a>
<h3>@(Model.Country.Name)</h3>
<table class="city-list-table">
    @foreach(var city in Model.Cities.OrderBy(x => x.Name))
    {
        <tr>
            <td class="city-list-cell-left">
                <a href="@(currentPath)/@city.Key">
                    <img src="@city.IconUrl" class="border border-dark" />
                </a>
            </td>
            <td class="city-list-cell-right">
                <a href="@(currentPath)/@city.Key">
                    <h4 class='mt-1'>@city.Name</h4>
                </a>
                @city.Description
            </td>
        </tr>
    }
</table>