@{
    Layout = "_WorldTravelerLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListPhotosResponse
@using static Weredev.UI.Models.WorldTraveler.ListPhotosResponse.Photo.PhotoScale;

<a href="@(Model.BaseUrl)">
    <h2>world traveler</h2>
</a>
<h3>
    <a href="@(Model.CountryUrl)">@(Model.CountryName)</a>
     | <a href="@(Model.CityUrl)">@(Model.CityName)</a>
     | @(Model.AlbumName)
</h3>
<div class="album-grid row no-gutters">
    @foreach (var photo in Model.Photos.OrderBy(x => x.Name))
    {
        var originalPhoto = photo.Scales.FirstOrDefault(x => x.Scale == ScaleType.Original);
        var mediumPhoto = photo.Scales.FirstOrDefault(x => x.Scale == ScaleType.Medium);
        <div class="col col-12 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="album-item swipebox" href="@(originalPhoto.Url)" title="@(photo.Description)" data-style="transform: rotate(@(photo.Rotatation)deg);">
                <img src="@(mediumPhoto.Url)" class="album-image" alt="test" style="left: -@(mediumPhoto.Width / 2)px;"/>
            </a>
        </div>
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<environment include="Development">
    <script src="~/js/swipebox.js"></script>
</environment>
<environment include="Production">
    <script src="~/js/swipebox.min.js"></script>
</environment>

<script type="text/javascript">
    $( document ).ready(function() {
        $('.swipebox').swipebox({
            hideBarsDelay: -1,
            removeBarsOnMobile: false
        });
    });
</script>