@{
    Layout = "_WorldTravelerLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListPhotosResponse
@using static Weredev.UI.Models.WorldTraveler.ListPhotosResponse.Photo.PhotoScale;

<a href="@(Model.BaseUrl)">
    <h2>world traveler</h2>
</a>
<h3>
    <a href="@(Model.CountryUrl)">@(Model.CountryName)</a>
     | <a href="@(Model.CityUrl)">@(Model.CityName)</a>
     | @(Model.AlbumName)
</h3>
<div class="album-grid row no-gutters">
    @foreach (var photo in Model.Photos)
    {
        var originalPhoto = photo.Scales.FirstOrDefault(x => x.Scale == ScaleType.Original);
        var mediumPhoto = photo.Scales.FirstOrDefault(x => x.Scale == ScaleType.Medium);
        <div class="col-3">
            <a class="album-item swipebox" href="@(originalPhoto.Url)">
                <img src="@(mediumPhoto.Url)" class="album-image" alt="test" style="left: -@(mediumPhoto.Width / 2)px;"/>
            </a>
        </div>
    }
</div>

<!-- <script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
<!-- <script src="/js/masonry.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/swipebox.min.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        $('.swipebox').swipebox({
            hideBarsDelay:-1
        });
    });
</script>