@using Weredev.UI.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData[BaseController.MetaDescription]" />
    <meta name="keywords" content="@ViewData[BaseController.MetaKeywords], weredev, geek, developer, world traveler" />
    <title>weredev | @ViewData[BaseController.MetaTitle]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/site.css" asp-append-version="true">
    @RenderSection("stylesheets", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <header class="app-header text-center">
            <div class="header-image">
                <img src="/images/header.jpg" style="width: 100%" alt="header" />
            </div>
            <h1 class="app-title">
                <a href="/">weredev</a> 
            </h1>
        </header>
        <div class="app-body mb-5">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>
